.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 9718px;
  position: relative;
}

.slide .overlap {
  position: absolute;
  width: 2045px;
  height: 1238px;
  top: 1864px;
  left: -55px;
}

.slide .frame {
  display: flex;
  flex-direction: column;
  width: 2045px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.slide .rectangle {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1218px;
  background-color: #f6f6f6;
  border-radius: 38px;
}

.slide .text-wrapper {
  position: absolute;
  width: 512px;
  top: 135px;
  left: 660px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-2 {
  position: absolute;
  top: 168px;
  left: 1155px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .text-wrapper-3 {
  position: absolute;
  width: 78px;
  top: 695px;
  left: 637px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .group {
  position: absolute;
  width: 800px;
  height: 431px;
  top: 246px;
  left: 603px;
}

.slide .overlap-group {
  position: absolute;
  width: 703px;
  height: 431px;
  top: 0;
  left: 0;
}

.slide .rectangle-2 {
  position: absolute;
  width: 640px;
  height: 28px;
  top: 22px;
  left: 63px;
  background-color: #112d30;
}

.slide .rectangle-3 {
  position: absolute;
  width: 514px;
  height: 28px;
  top: 107px;
  left: 63px;
  background-color: #112d30;
}

.slide .rectangle-4 {
  position: absolute;
  width: 435px;
  height: 28px;
  top: 191px;
  left: 63px;
  background-color: #112d30;
}

.slide .rectangle-5 {
  position: absolute;
  width: 348px;
  height: 28px;
  top: 276px;
  left: 63px;
  background-color: #112d30;
}

.slide .rectangle-6 {
  position: absolute;
  width: 261px;
  height: 28px;
  top: 361px;
  left: 63px;
  background-color: #112d30;
}

.slide .vector-stroke {
  position: absolute;
  width: 3px;
  height: 431px;
  top: 0;
  left: 61px;
}

.slide .text-wrapper-4 {
  position: absolute;
  width: 66px;
  top: 26px;
  left: 1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #1c3007;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-5 {
  position: absolute;
  width: 66px;
  top: 195px;
  left: 1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-6 {
  position: absolute;
  width: 67px;
  top: 280px;
  left: 0;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-7 {
  position: absolute;
  width: 72px;
  top: 111px;
  left: 0;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-8 {
  position: absolute;
  width: 53px;
  top: 365px;
  left: 0;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-9 {
  position: absolute;
  width: 74px;
  top: 111px;
  left: 580px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .text-wrapper-10 {
  position: absolute;
  width: 56px;
  top: 195px;
  left: 503px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .text-wrapper-11 {
  position: absolute;
  width: 64px;
  top: 280px;
  left: 415px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .text-wrapper-12 {
  position: absolute;
  width: 59px;
  top: 365px;
  left: 328px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .text-wrapper-13 {
  position: absolute;
  width: 73px;
  top: 26px;
  left: 707px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .frame-2 {
  display: flex;
  flex-direction: column;
  width: 711px;
  align-items: flex-start;
  position: absolute;
  top: 775px;
  left: 659px;
}

.slide .element-OECD {
  position: relative;
  align-self: stretch;
  height: 311px;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 43.2px;
}

.slide .span {
  font-weight: 500;
  letter-spacing: -0.17px;
}

.slide .text-wrapper-14 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: -0.17px;
}

.slide .element {
  position: relative;
  align-self: stretch;
  height: 62px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 45px;
}

.slide .text-wrapper-15 {
  font-weight: 500;
  letter-spacing: -0.06px;
}

.slide .text-wrapper-16 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: -0.06px;
}

.slide .overlap-2 {
  position: absolute;
  width: 2025px;
  height: 1464px;
  top: 4502px;
  left: -45px;
}

.slide .rectangle-7 {
  position: absolute;
  width: 2025px;
  height: 1331px;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  border-radius: 38px;
}

.slide .rectangle-8 {
  position: absolute;
  width: 2025px;
  height: 1362px;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  border-radius: 38px;
}

.slide .text-wrapper-17 {
  position: absolute;
  width: 1096px;
  top: 141px;
  left: 650px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .overlap-wrapper {
  position: absolute;
  width: 684px;
  height: 684px;
  top: 353px;
  left: 663px;
  overflow: hidden;
}

.slide .overlap-3 {
  position: relative;
  width: 697px;
  height: 684px;
}

.slide .vector {
  position: absolute;
  width: 674px;
  height: 562px;
  top: 122px;
  left: 0;
}

.slide .img {
  position: absolute;
  width: 342px;
  height: 232px;
  top: 190px;
  left: 342px;
}

.slide .vector-2 {
  position: absolute;
  width: 306px;
  height: 311px;
  top: 31px;
  left: 342px;
}

.slide .vector-3 {
  position: absolute;
  width: 163px;
  height: 342px;
  top: 0;
  left: 322px;
}

.slide .vector-4 {
  position: absolute;
  width: 137px;
  height: 341px;
  top: 1px;
  left: 205px;
}

.slide .vector-5 {
  position: absolute;
  width: 212px;
  height: 313px;
  top: 29px;
  left: 130px;
}

.slide .vector-6 {
  position: absolute;
  width: 255px;
  height: 269px;
  top: 73px;
  left: 87px;
}

.slide .vector-7 {
  position: absolute;
  width: 262px;
  height: 228px;
  top: 114px;
  left: 80px;
}

.slide .element-2 {
  position: absolute;
  width: 249px;
  top: 443px;
  left: 157px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: -2.24px;
  line-height: 45px;
}

.slide .element-3 {
  position: absolute;
  width: 249px;
  top: 289px;
  left: 448px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: -1.4px;
  line-height: 30px;
}

.slide .element-4 {
  position: absolute;
  width: 249px;
  top: 149px;
  left: 388px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1.26px;
  line-height: 25px;
}

.slide .element-5 {
  position: absolute;
  width: 249px;
  top: 73px;
  left: 263px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1.26px;
  line-height: 25px;
}

.slide .vector-stroke-2 {
  position: absolute;
  width: 74px;
  height: 8px;
  top: 118px;
  left: 10px;
}

.slide .element-6 {
  position: absolute;
  width: 249px;
  top: 284px;
  left: 793px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1.26px;
  line-height: 25px;
}

.slide .element-7 {
  position: absolute;
  width: 249px;
  top: 327px;
  left: 663px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1.26px;
  line-height: 25px;
}

.slide .element-8 {
  position: absolute;
  width: 249px;
  top: 379px;
  left: 576px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1.26px;
  line-height: 25px;
}

.slide .element-9 {
  position: absolute;
  width: 249px;
  top: 439px;
  left: 504px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1.26px;
  line-height: 25px;
}

.slide .p {
  position: absolute;
  width: 742px;
  top: 1153px;
  left: 650px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 43.2px;
}

.slide .text-wrapper-18 {
  position: absolute;
  width: 570px;
  top: 157px;
  left: 946px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 45px;
}

.slide .overlap-4 {
  position: absolute;
  width: 2025px;
  height: 1940px;
  top: 7218px;
  left: -8px;
  background-color: #f6f6f6;
  border-radius: 38px;
}

.slide .text-wrapper-19 {
  position: absolute;
  width: 733px;
  top: 134px;
  left: 602px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .frame-3 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: flex-start;
  gap: 115px;
  position: absolute;
  top: 325px;
  left: 368px;
}

.slide .rectangle-wrapper {
  position: relative;
  width: 1200px;
  height: 419px;
  background-color: #ffffff;
  border-radius: 38px;
}

.slide .rectangle-9 {
  position: absolute;
  width: 617px;
  height: 418px;
  top: 1px;
  left: 0;
}

.slide .rectangle-10 {
  position: absolute;
  width: 617px;
  height: 418px;
  top: 1px;
  left: 583px;
}

.slide .rectangle-11 {
  position: absolute;
  width: 617px;
  height: 418px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.slide .text-wrapper-20 {
  position: absolute;
  top: 858px;
  left: 770px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 130px;
  white-space: nowrap;
}

.slide .element-10 {
  position: absolute;
  width: 475px;
  top: 974px;
  left: 398px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: -0.96px;
  line-height: 43.2px;
}

.slide .text-wrapper-21 {
  position: absolute;
  top: 365px;
  left: 1056px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: -1.2px;
  line-height: 60px;
  white-space: nowrap;
}

.slide .element-11 {
  position: absolute;
  width: 424px;
  top: 445px;
  left: 1054px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.96px;
  line-height: 43.2px;
}

.slide .frame-4 {
  display: flex;
  flex-direction: column;
  width: 424px;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 1452px;
  left: 1054px;
}

.slide .text-wrapper-22 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: -1.2px;
  line-height: 60px;
}

.slide .element-12 {
  position: relative;
  align-self: stretch;
  height: 311px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  line-height: 43.2px;
}

.slide .text-wrapper-23 {
  letter-spacing: -0.17px;
}

.slide .text-wrapper-24 {
  letter-spacing: -0.23px;
}

.slide .vector-8 {
  position: absolute;
  width: 254px;
  height: 1px;
  top: 1440px;
  left: -3954px;
  object-fit: cover;
}

.slide .text-wrapper-25 {
  position: absolute;
  width: 496px;
  top: 3232px;
  left: 605px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 48px;
  letter-spacing: -1.44px;
  line-height: 74.4px;
  white-space: nowrap;
}

.slide .traffic {
  position: absolute;
  width: 1920px;
  height: 1035px;
  top: 0;
  left: 0;
}

.slide .traffic-2 {
  height: 993px;
  object-fit: cover;
  position: absolute;
  width: 1920px;
  top: 0;
  left: 0;
}

.slide .text-wrapper-26 {
  position: absolute;
  width: 579px;
  top: 233px;
  left: 671px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #fffdf3;
  font-size: 85px;
  text-align: center;
  letter-spacing: -0.85px;
  line-height: 131.7px;
}

.slide .text-wrapper-27 {
  position: absolute;
  top: 501px;
  left: 700px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.54px;
  line-height: 45px;
  white-space: nowrap;
}

.slide .text-wrapper-28 {
  position: absolute;
  top: 188px;
  left: 896px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.54px;
  line-height: 45px;
  white-space: nowrap;
}

.slide .group-2 {
  position: absolute;
  width: 94px;
  height: 100px;
  top: 776px;
  left: 914px;
}

.slide .text-wrapper-29 {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.45px;
  line-height: 45px;
  white-space: nowrap;
}

.slide .vector-stroke-wrapper {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 0;
  left: 19px;
  background-color: #ffffff;
  border-radius: 27px;
  border: 2px solid;
  border-color: #000000;
}

.slide .vector-stroke-3 {
  position: absolute;
  width: 15px;
  height: 31px;
  top: 10px;
  left: 18px;
}

.slide .frame-5 {
  position: absolute;
  width: 378px;
  height: 187px;
  top: 1103px;
  left: 567px;
}

.slide .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 4236px;
  left: 595px;
}

.slide .text-wrapper-30 {
  position: relative;
  width: 710px;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 43.2px;
}

.slide .frame-6 {
  display: flex;
  flex-direction: column;
  width: 1096px;
  align-items: flex-start;
  position: absolute;
  top: 1324px;
  left: 603px;
}

.slide .element-13 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-Black", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.48px;
  line-height: 74.4px;
}

.slide .text-wrapper-31 {
  font-weight: 900;
  letter-spacing: -0.23px;
}

.slide .text-wrapper-32 {
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  letter-spacing: -0.23px;
}

.slide .text-wrapper-33 {
  position: relative;
  align-self: stretch;
  height: 62px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 45px;
}

.slide .element-14 {
  position: relative;
  width: 714px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 43.2px;
}

.slide .overlap-5 {
  position: absolute;
  width: 1594px;
  height: 617px;
  top: 3509px;
  left: 164px;
  background-image: url(./img/group-25.png);
  background-size: 100% 100%;
}

.slide .overlap-6 {
  position: absolute;
  width: 106px;
  height: 106px;
  top: 46px;
  left: 909px;
  background-color: #ffffff;
  border-radius: 53px;
}

.slide .text-wrapper-34 {
  position: absolute;
  width: 72px;
  top: 17px;
  left: 17px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 70px;
  white-space: nowrap;
}

.slide .element-15 {
  position: absolute;
  top: 516px;
  left: 591px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 30px;
}

.slide .text-wrapper-35 {
  position: absolute;
  top: 384px;
  left: 591px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: 54px;
}

.slide .element-16 {
  position: absolute;
  top: 516px;
  left: 1098px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 30px;
}

.slide .text-wrapper-36 {
  position: absolute;
  top: 384px;
  left: 1098px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: 54px;
}

.slide .text-wrapper-37 {
  position: absolute;
  top: 344px;
  left: 66px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: 54px;
}

.slide .overlap-7 {
  position: absolute;
  width: 106px;
  height: 106px;
  top: 225px;
  left: 381px;
  background-color: #ffffff;
  border-radius: 53px;
}

.slide .text-wrapper-38 {
  position: absolute;
  width: 72px;
  top: 18px;
  left: 17px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.48px;
  line-height: 67.2px;
  white-space: nowrap;
}

.slide .overlap-8 {
  position: absolute;
  width: 106px;
  height: 106px;
  top: 322px;
  left: 1443px;
  background-color: #ffffff;
  border-radius: 53px;
}

.slide .element-17 {
  position: absolute;
  top: 516px;
  left: 61px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 30px;
}

.slide .overlap-9 {
  position: absolute;
  width: 967px;
  height: 172px;
  top: 9395px;
  left: 484px;
}

.slide .e-https-www-index-go {
  position: absolute;
  width: 967px;
  top: 0;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 36px;
}

.slide .text-wrapper-39 {
  font-weight: 600;
  letter-spacing: -0.17px;
}

.slide .text-wrapper-40 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: -0.17px;
}

.slide .https-www-safetydata {
  position: absolute;
  width: 967px;
  top: 100px;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 36px;
}

.slide .text-wrapper-41 {
  position: absolute;
  width: 967px;
  top: 9311px;
  left: 484px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: -0.96px;
  line-height: 48px;
  white-space: nowrap;
}

.slide .overlap-10 {
  position: absolute;
  width: 880px;
  height: 513px;
  top: 6183px;
  left: 586px;
}

.slide .vector-stroke-4 {
  position: absolute;
  width: 878px;
  height: 495px;
  top: 0;
  left: 0;
}

.slide .rectangle-12 {
  position: absolute;
  width: 114px;
  height: 28px;
  top: 29px;
  left: 224px;
  background-color: #5da8b0;
}

.slide .rectangle-13 {
  position: absolute;
  width: 40px;
  height: 28px;
  top: 87px;
  left: 298px;
  background-color: #5da8b0;
}

.slide .rectangle-14 {
  position: absolute;
  width: 297px;
  height: 28px;
  top: 144px;
  left: 40px;
  background-color: #5da8b0;
}

.slide .rectangle-15 {
  position: absolute;
  width: 233px;
  height: 28px;
  top: 202px;
  left: 104px;
  background-color: #5da8b0;
}

.slide .rectangle-16 {
  position: absolute;
  width: 115px;
  height: 28px;
  top: 260px;
  left: 222px;
  background-color: #5da8b0;
}

.slide .rectangle-17 {
  position: absolute;
  width: 73px;
  height: 28px;
  top: 317px;
  left: 338px;
  background-color: #112d30;
}

.slide .rectangle-18 {
  position: absolute;
  width: 409px;
  height: 28px;
  top: 375px;
  left: 338px;
  background-color: #112d30;
}

.slide .rectangle-19 {
  position: absolute;
  width: 502px;
  height: 28px;
  top: 433px;
  left: 338px;
  background-color: #112d30;
}

.slide .rectangle-20 {
  position: absolute;
  width: 27px;
  height: 10px;
  top: 31px;
  left: 764px;
  background-color: #5da8b0;
}

.slide .rectangle-21 {
  position: absolute;
  width: 27px;
  height: 10px;
  top: 52px;
  left: 764px;
  background-color: #112d30;
}

.slide .text-wrapper-42 {
  position: absolute;
  width: 28px;
  top: 493px;
  left: 54px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-43 {
  position: absolute;
  width: 45px;
  top: 32px;
  left: 230px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-44 {
  position: absolute;
  width: 45px;
  top: 90px;
  left: 298px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -1.6px;
  line-height: 20px;
}

.slide .text-wrapper-45 {
  position: absolute;
  width: 60px;
  top: 147px;
  left: 46px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-46 {
  position: absolute;
  width: 60px;
  top: 205px;
  left: 110px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-47 {
  position: absolute;
  width: 60px;
  top: 263px;
  left: 228px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-48 {
  position: absolute;
  width: 60px;
  top: 320px;
  left: 358px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-49 {
  position: absolute;
  width: 60px;
  top: 378px;
  left: 698px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-50 {
  position: absolute;
  width: 60px;
  top: 436px;
  left: 778px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-51 {
  position: absolute;
  width: 28px;
  top: 493px;
  left: 192px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-52 {
  position: absolute;
  width: 11px;
  top: 493px;
  left: 332px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-53 {
  width: 18px;
  left: 464px;
  position: absolute;
  top: 493px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-54 {
  width: 21px;
  left: 602px;
  position: absolute;
  top: 493px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-55 {
  width: 21px;
  left: 736px;
  position: absolute;
  top: 493px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-56 {
  position: absolute;
  width: 28px;
  top: 25px;
  left: 800px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-57 {
  position: absolute;
  width: 28px;
  top: 46px;
  left: 800px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .vector-stroke-5 {
  position: absolute;
  width: 880px;
  height: 494px;
  top: 0;
  left: 0;
}

.slide .overlap-11 {
  position: absolute;
  width: 918px;
  height: 91px;
  top: 5997px;
  left: 610px;
}

.slide .text-wrapper-58 {
  position: absolute;
  width: 918px;
  top: 0;
  left: 0;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-59 {
  position: absolute;
  top: 71px;
  left: 2px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 20px;
  white-space: nowrap;
}

.slide .element-18 {
  position: absolute;
  width: 710px;
  top: 6795px;
  left: 610px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 43.2px;
}

.slide .text-wrapper-60 {
  position: absolute;
  width: 41px;
  top: 6330px;
  left: 541px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-61 {
  position: absolute;
  width: 55px;
  top: 6387px;
  left: 527px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-62 {
  position: absolute;
  width: 42px;
  top: 6446px;
  left: 540px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-63 {
  position: absolute;
  width: 42px;
  top: 6505px;
  left: 540px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-64 {
  position: absolute;
  width: 42px;
  top: 6561px;
  left: 540px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-65 {
  position: absolute;
  width: 98px;
  top: 6619px;
  left: 484px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-66 {
  position: absolute;
  width: 98px;
  top: 6698px;
  left: 988px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-67 {
  position: absolute;
  width: 42px;
  top: 6219px;
  left: 540px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}

.slide .text-wrapper-68 {
  position: absolute;
  width: 42px;
  top: 6273px;
  left: 540px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #010002;
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 20px;
}
